body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header, #container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#resultado {
    margin: 20px;
}

footer {
    margin-top: auto;
    align-self: center;
}